# Neuro SAN
# neuro-san==0.5.68
# Note: Install neuro-san from source by disabling ddgs because there's an unsolvable dependency 'primp' that gets stuck on the pip install

nsflow==0.5.20

# To use a .env file for environment variables
python-dotenv==1.0.1

# For asynchronous file operations
aiofiles>=24.1.0

# Vision dependencies
ultralytics>=8.4.7
deepface>=0.0.97
tf-keras>=2.20.1
opencv-python>=4.13.0.90
